{% extends '::home.html.twig' %}

{% block content %}
    <style>
        .pageInfo .button {
            float: right;
            font-size: 12px;
            position: relative;
            top: -4px;
        }
    </style>

    <div class="pageInfo">
        On this page we provide you all incidents that occured within the last <strong>{{ hours }}</strong> hours.
        <div class="button desktop" style="width: auto; float: right">
            <a href="{{ path("bauer_incident_dashboard_core_past", {"project": project.identifier, "intervalInHours": 72}) }}">72 hours</a>
        </div>
        <div class="button desktop">
            <a href="{{ path("bauer_incident_dashboard_core_past", {"project": project.identifier, "intervalInHours": 48}) }}">48 hours</a>
        </div>
        <div class="button desktop">
            <a href="{{ path("bauer_incident_dashboard_core_past", {"project": project.identifier, "intervalInHours": 24}) }}">24 hours</a>
        </div>
    </div>


    <div class="box-element first incidentList">
        <div id="day">
            {% for event in events %}
                {% if not event.eventIdentifier.knownIssue %}
                    {% include "BauerIncidentDashboardCoreBundle:Default:partials/row.html.twig" with { "showOptions": false } %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
