{% extends baseTemplate %}

{% block breadcrumb %}
    <li>Test</li>
{% endblock %}

{% block content %}
    <script>
        var listCreated = {{ listCreated }};
        var currentProject = '{{ project.identifier }}';

        setTimeout("checkForNewEvents()", 60 * 1000);
    </script>

    <div class="pageInfo">On this page we provide you the current status of all registered systems of this project.</div>

    <h3>Filter</h3>
    <div class="pageInfo">
        <input type="checkbox" checked value="openIncidents" onclick="setFilter(this.value)">Open Incidents
        <input type="checkbox" checked value="knownIssues" onclick="setFilter(this.value)">Known Issues
        <input type="checkbox" value="successfulChecks" onclick="setFilter(this.value)">Successful Checks
    </div>

    <div id="openIncidentsList">
        <h3>Open Incidents</h3>

        <div class="box-element incidentList">
            {% set incidentFound = false %}
            {% for eventIdentifier in eventIndentifiers %}
                {% if eventIdentifier.lastEvent.status == "failure" %}
                    {% if not eventIdentifier.knownIssue %}
                        {% set incidentFound = true %}
                        {% include "BauerIncidentDashboardCoreBundle:Default:partials/row.html.twig" with {"event": eventIdentifier.lastEvent } %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not incidentFound %}
                <div>No incidents found.</div>
            {% endif %}
        </div>
    </div>
    <div id="knownIssuesList">
        <h3>Known Issues</h3>

        <div class="box-element incidentList" id="knownIssues">
            {% set incidentFound = false %}
            {% for eventIdentifier in eventIndentifiers %}
                {% if eventIdentifier.lastEvent.status == "failure" %}
                    {% if eventIdentifier.knownIssue %}
                        {% set incidentFound = true %}
                        {% include "BauerIncidentDashboardCoreBundle:Default:partials/row.html.twig" with {"event": eventIdentifier.lastEvent } %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not incidentFound %}
                <div>No incidents found.</div>
            {% endif %}
        </div>
    </div>
    <div id="successfulChecksList" style="display: none">
        <h3>Successful Checks</h3>

        <div class="box-element incidentList">
            {% set incidentFound = false %}
            {% for eventIdentifier in eventIndentifiers %}
                {% if eventIdentifier.lastEvent.status == "success" %}
                    {% if not eventIdentifier.lastEvent.unique %}
                        {% set incidentFound = true %}
                        {% include "BauerIncidentDashboardCoreBundle:Default:partials/row.html.twig" with {"event": eventIdentifier.lastEvent } %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not incidentFound %}
                <div>No incidents found.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

