{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <script>
        function storeIntegration(formId) {
            var url = $("#" + formId).attr('action');
            $.post(url, $("#" + formId).serialize(), function (data) {
                if (data['status'] == 'failure') {
                    toastr.warning(data['message']);
                } else {
                    toastr.success(data['message']);
                    $('#id' + data['elementId']).val(data['id']);
                    if (reload) {
                        location.reload();
                    }
                }
            });
        }
    </script>

    <style>
        #integration .subContent {
            margin-left: 20px;
        }

        #integration .subContent a {
            border-bottom: 1px solid #555555;
        }

        #main #integration h2 {
            font-weight: 200;
            text-transform: none;
            border-top: 1px solid #eee;
            margin-top: 50px;
            padding-top: 20px;
        }

        #main #integration h3 {
            font-weight: 200;
            text-transform: none;
            margin-top: 50px;
            padding-top: 20px;
        }
    </style>

    <h1>Google Page Speed Checker</h1>

    <div id="integration" style="width: 780px;">

        <p>
            The Google PageSpeed checker checks the given systems for the current google page speed score.
            It the score is lower than the given value the system will alert.
        </p>

        <form id="integration_admin_form" style="padding-top: 20px" action="{{ path('koalamon_integration_google_page_speed_store', {'project': project.identifier}) }}">
            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="all" {% if config.status == 'all' %}checked="checked{% endif %}"> Scan all Systems <br>

            <div style="clear:both"></div>

            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="selected" {% if config.status != 'all' %}checked="checked{% endif %}"> Scan selected Systems only

            <div class="configOptions" style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px; {% if config.status != 'all' %}display:none{% endif %}">
                <h2>Options for all Systems</h2>

                <p>The options you select in this paragraph will be applied to all systems.</p>
                {% include 'KoalamonIntegrationGooglePageSpeedBundle:Partials:options.html.twig' with { 'system': config, 'options': config.options, 'elementName': 'options' } %}
            </div>

            <div class="configOptions" style="{% if config.status == 'all' %}display:none{% endif %}">
                {% include 'KoalamonIntegrationBundle:Partials:systems.check.html.twig' with {'systems': systems, 'checkedSystems': integratedSystems, 'optionsTemplate': 'KoalamonIntegrationGooglePageSpeedBundle:Partials:options.html.twig'} only %}
            </div>

            <div style="clear:both"></div>

            <button onclick="storeIntegration('integration_admin_form'); return false;" style="margin-top: 30px">Store Configuration</button>
        </form>

    </div>
{% endblock %}