{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <div class="box-element first">
        <div class="box-element-header">Licence</div>
        <div class="box-element-content">
            <strong>free plan</strong>

            <div style="padding-top: 10px;">In the free version you are allowed to send up to 1,000 requests a day.</div>
        </div>
    </div>

    {% if app.user.hasUserRole(project, constant('Bauer\\IncidentDashboard\\CoreBundle\\Entity\\UserRole::ROLE_OWNER')) %}
        <div class="box-element first">
            <div class="box-element-header">Project Options</div>
            <div class="box-element-content">
                <form method="post" action="{{ path('koalamon_default_project_admin_store', {'project': project.identifier }) }}">
                    <input name="options[isPublic]" type="checkbox" {% if project.public %}checked=checked{% endif %} id="options_isPublic">
                    <span><strong>Public Project</strong> - Check this option if you want to grand read access to public.</span>
                    <br><br>
                    <input type="submit" value="Store Options">
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
