{% extends 'base.html.twig' %}

{% block submenu %}
     Registrierung abgeschlossen
{% endblock %}

{% block message %}

        <h1>Registrierung abgeschlossen</h1>
        <p>
            Sch&ouml;n, dass du da bist. Du bist nur ein Mitglied der amilio-Familie. Herzlich willkommen.
        </p>
        <p style="padding-top: 50px;">
            <span class="highlight"><a href="javascript:showLoginModal()">Melde dich an.</a></span>
        </p>

{% endblock %}