{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <h2>Connected Tools</h2>

    <form method="post" action="{{ path('koalamon_notification_engine_alerts_store', {'project': project.identifier, 'notificationConfiguration': config.id}) }}">
        <div>
            <input type="radio" value="true" {% if config.notifyAll %}checked="checked"{% endif %} name="notify_all">Notify all
            <p style="margin-left: 30px">If "notify all" is selected the given Notification Channel will alert all failure events ne matter what tool.</p>
        </div>
        <div>
            <input type="radio" value="false" {% if not config.notifyAll %}checked="checked"{% endif %} name="notify_all">Notify selected Tools

            <table style="margin-left: 30px; padding-top: 30px">
                <thead>
                <tr style="vertical-align: top">
                    <td>
                        Active
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Description
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for tool in tools %}
                    <tr>
                        <td>
                            <input type="checkbox" name="tools[{{ tool.id }}]" {% if config.isConnectedTool(tool) %}checked="checked"{% endif %}>
                        </td>
                        <td style="min-width: 200px">{{ tool.name }}</td>
                        <td style="width: 600px">{{ tool.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="submit" value="store">
    </form>

{% endblock %}