body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
    background-color: #7f8c8d;
}

.button.selected {
    background-color: #3498db;
}

#header-top {
    background-color: white;
    position: fixed;
    height: 40px;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    z-index: 2;
    top: 0;
}

#header-top .logo {
    float: left;
    margin-right: 15px;
}

#header-user {
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 10;
}

#header-user a {
    color: white;
    font-size: 12px;
}

#header-bottom {
    background-color: #140F0F;
    width: 100%;
    padding-left: 50px;
    position: fixed;
    padding-top: 18px;
    top: 50px;
    color: #eee;
    height: 30px;
    z-index: 10;
}

#header-bottom A {
    color: white;
}

#header-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

#header-bottom ul li {
    float: left;
    margin-right: 70px;
}

#sitebar {
    overflow: auto;
    position: fixed;
    float: left;
    margin-right: 30px;
    background-color: #2B333E;
    width: 220px;
    padding-left: 35px;
    z-index: 0;
    color: white;
    height: 100%;
}

#sitebar a {
    color: white;
}

#sitebar h2 {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 40px;
    color: white;
}

#sitebar .sitebar-block {
    border-bottom: 1px solid #555;
    padding-bottom: 34px;
    margin-right: 40px;
}

#sitebar .sitebar-block:last-child {
    border-bottom: none;
}

#sitebar .sitebar-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding-top: 10px;
}

#sitebar .sitebar-block ul li {
    padding-bottom: 15px;
}

#sitebar ul.submenu {
    padding-left: 20px;
    font-size: 12px;
    margin-top: 10px;
}

#sitebar .selected {
    font-weight: 700;
}

.counter {
    background-color: #777;
    color: white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    float: right;
    font-size: 9px;
    margin-top: 3px;
}

.warning {
    background-color: #f16059;
    color: white;
}

#body {
    padding-top: 20px;
    margin-left: 300px;
    margin-bottom: 50px;
}

#main h2 {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 0;
    margin-top: 0;
}

.pageInfo {
    width: calc(100% - 50px);
    background-color: #eaeaea;
    padding: 10px;
    font-weight: 200;
    margin-bottom: 50px;
}

#main #breadcrumb {
    font-weight: 200;
    font-size: 14px;
    clear: both;
    width: calc(100% - 300px);
    margin-bottom: 30px;
    padding-left: 300px;
}

#main #breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main #breadcrumb ul li {
    float: left;
    margin-right: 30px;
}

#main #breadcrumb ul li:last-child {
    font-weight: 700;
}

.row {
    width: calc(100% - 5px);
    padding-top: 0;
    margin: 0;
}

div.row {
    padding-top: 0;
    margin-bottom: 20px;
    min-height: 0;
    border: 1px solid #bdc3c7;

}

.box-element {
    width: calc(100% - 30px);
    border-radius: 0px;
    min-height: 0;
    border: none;
    margin-bottom: 50px;
    margin-top: 0;
}

.status {
    width: 10px;
    height: 76px;
}

.info img {
    float: left;
    height: 15px;
    margin-right: 5px;
}

.info {
    margin-top: 5px;
}

.info p {
    padding-top: 5px;
    padding-left: 30px;
    margin: 0;
    line-height: normal;
    color: #ccc;
    margin-bottom: 15px;
}

.message {
    float: left;
    width: calc(100% - 580px);
    font-size: 16px;
    margin-right: 20px;
    font-weight: 200;

}

.identifier {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    width: 250px;
}

.tool {
    font-size: 16px;
    font-weight: 200;
    float: left;
    min-width: 190px;
}

.option {
    float: right;
    margin-top: 12px;
    margin-right: 20px;
}

.option img {
    margin-right: 5px;
}

.stats {
    margin-top: 90px;
    padding-bottom: 20px;
}

#btn-admin {
    float: right;
    margin-right: 40px;
}

h3 {
    text-transform: uppercase;
    font-weight: 200;
}

.pageInfo input[type="checkbox"] {
    margin-left: 20px;
    margin-right: 5px;
}

#alert {
    display: none;
}

.pageInfo.failure {
    background-color: #f16059;
    color: white;
}

.pageInfo.success {
    background-color: #27ae60;
    color: white;
}

#main .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 30px);
    font-weight: 200;
}

#main .list ul li {
    padding: 10px;
}

#main .list ul li:nth-child(odd) {
    background-color: #eaeaea;
}

.code {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#integration {
    margin-right: 30px;
    font-weight: 200;
    line-height: 22px;
}

#integration li {
    padding-bottom: 10px;
}

#main #integration h1 {
    padding-bottom: 40px;
}

#main #integration h2 {
    margin-top: 80px;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 20px;
}

#integration .how-to {
    width: 800px;
    float: left;
    margin-bottom: 100px;
}

#integration table .request-name {
    width: 200px;
}

#integration table .request-pattern {
    width: 440px;
}

#integration button {
    border: none;
    padding: 10px;
    color: white;
    background-color: #7f8c8d;
    border-radius: 3px;
}

#integration input[type="radio"] {
    margin-top: 20px;
}

#system #login-form input[type='text'] {
    width: 325px;
}

#system #login-form input[type='password'] {
    width: 325px;
    margin-bottom: 20px;
}