<style>
    .tabs {
        list-style: none;
        padding: 0;
        padding-bottom: 50px;
    }

    .tab {
        margin-right: 10px;
        padding: 5px 10px 5px 10px;
        float: left;
        background-color: #eaeaea;
        border-radius: 5px;
        font-size: 12px;
    }

    .tab.active a {
        color: white;
    }

    .tab.active {
        background-color: #7f8c8d;
        color: white;
        font-weight: 200;
    }
</style>

<ul class="tabs">
    <li class="tab {% if app.request.get('_route') == 'koalamon_default_project_admin' %}active{% endif %}">
        <a href="{{ path('koalamon_default_project_admin', {'project': project.identifier }) }}">Project</a>
    </li>
    <li class="tab {% if app.request.get('_route') == 'koalamon_default_tool_admin' %}active{% endif %}">
        <a href="{{ path('koalamon_default_tool_admin', {'project': project.identifier }) }}">Tools</a>
    </li>
    <li class="tab {% if app.request.get('_route') == 'whm_notification_engine_home' %}active{% endif %}">
        <a href="{{ path('whm_notification_engine_home', {'project': project.identifier }) }}">Notification Channels</a>
    </li>
    <li class="tab {% if app.request.get('_route') == 'whm_notification_engine_alerts_home' %}active{% endif %}">
        <a href="{{ path('whm_notification_engine_alerts_home', {'project': project.identifier }) }}">Alerts</a>
    </li>
    {#
    <li class="tab">
        <a href="">User</a>
    </li>
    <li class="tab">
        <a href="">Systems</a>
    </li>
    <li class="tab">
        <a href="">Translations</a>
    </li>#}
</ul>
<div style="clear: both"></div>