{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <h2>Alerts</h2>

    <table>
        <thead>
        <tr style="vertical-align: top">
            <td>
                Name
            </td>
            <td>
                Connected<br>Tools
            </td>
        </tr>
        </thead>

        {% for config in configs %}
            <tr>
                <td style="min-width: 400px">{{ config.name }}</td>
                <td>{% if config.notifyAll %}<strong>all</strong>{% else %}{{ config.connectedTools | length }}{% endif %}</td>
                <td><a href="{{ path('whm_notification_engine_alerts_edit', {'project': project.identifier, 'notificationConfiguration': config.id }) }}">edit tools</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}