{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <style>
        thead tr td {
            padding-top: 20px;
            padding-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
        }

        table tr td {
            padding-right: 40px;
        }
    </style>
    
    <img src="/images/geckoboard-logo.gif" width="200">

    
    <table>
        <thead>
        <tr>
            <td>Identifier</td>
            <td>System</td>
            <td>Tool</td>
        </tr>
        </thead>
        {% for identifier in project.eventIdentifiers %}
            <tr>
                <td class="row-identifier">
                    {{ identifier.identifier }}
                </td>
                <td class="row-system">
                    {{ identifier.lastevent.system }}
                </td>
                <td class="row-tool">
                    {{ identifier.tool.name }}
                </td>
                <td class="row-url">
                    {{ url('koalamon_gecko_board_linechart', {'eventIdentifier': identifier.id }) }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}